annotated-types
appdirs
asttokens
beautifulsoup4
blis
catalogue
clip
clip-text-decoder
cloudpathlib
cmake
color-matcher
comm
confection
confusion-matrix
contourpy
cycler
cymem
datasets
ddt
diffusers
dill
docker-pycreds
docutils
et-xmlfile
evaluate
exceptiongroup
executing
filelock
fonttools
fsspec
ftfy
gdown
gitdb
gitpython
h5py
huggingface-hub
imageio
importlib-resources
ipywidgets
jedi
jinja2
jupyterlab-widgets
kiwisolver
kornia
langcodes
lightning-utilities
lit
lpips
markupsafe
matplotlib
mpmath
multiprocess
murmurhash
networkx
nose
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
nvidia-tensorrt
opencv-python
openpyxl
pandas
pathtools
pillow
pip
preshed
prompt-toolkit
promptcap
psutil
pyarrow
pyarrow-hotfix
pydantic
pydantic-core
pygments
pyparsing
pytorch-lightning
pytz
pyyaml
regex
responses
safetensors
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
super-image
sympy
tensorrt
tensorrt-bindings
thinc
threadpoolctl
tokenizers
torch
torchdata
torchmetrics
torchsummary
torchvision
tqdm
traitlets
transformers
triton
typer
tzdata
urllib3
wandb
wasabi
wcwidth
weasel
wget
widgetsnbextension
xxhash
zipp
